CoffeeManagerClient/Connected Services/CoffeeAPI/011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.coffee.com/samples/01" elementFormDefault="qualified" targetNamespace="http://schemas.coffee.com/samples/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Coffee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coffee" nillable="true" type="tns:Coffee" />
</xs:schema>